2014.12.25.jike/jike1/src/userinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/userinfo" 
		xmlns:tns="http://www.example.org/userinfo" 
		elementFormDefault="qualified">
		<element name="userinfo" >
			<complexType>
				<sequence>
					<element name="user">
						<complexType>
							<sequence>
								<element name="logintime" minOccurs="0" maxOccurs="1"/>
								<element name="logouttime" minOccurs="0" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</element>
</schema>